unsloth 
trl 
docling 
docling-core 
transformers 
unsloth_zoo 
torch 
langchain 
langchain-core 
langchain-community 
langchain-huggingface 
faiss-cpu 
sentence-transformers 
bitsandbytes 
accelerate 
flagembedding 
ninja 
xformers 
pandas 
fastapi 
uvicorn 
pydantic 
pyngrok 
